body{
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    color: #000;
}
header, .Homepg, footer, .card_img, .learn-more, .aboutusImg, .picmak, .picmak2{
    display: none;
}
.naviga, .print-img{
    display: none;
}
.sellpictures, .aboutusImg{
    display: none;
}
.pobockaObrazek1, .pobockaObrazek2{
    display: none;
}
.managerimg{
    display: none;
}